<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Fakes" version="0.2.6" />
  <package id="Machine.Fakes.RhinoMocks" version="0.2.6" />
  <package id="Machine.Specifications" version="0.4.24.0" />
  <package id="Machine.Specifications.AutoMocking" version="0.1.4.0" />
  <package id="Machine.Specifications.Mvc" version="1.0.2.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6" />
</packages>